body {
    font-family: Malgun Gothic;
}

h1 {
    font-family: Malgun Gothic;
    font-size: 24px;
}

#head {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 5px;
    background-color: #FFFFFFFF;
    width: calc(100% - 20px);
    border-bottom: 1px solid #EDEDED;
}

#head_1 {
    width: 100%;
    text-align: left;
}

#head_2 {
    width: 100%;
    text-align: right;
    margin-top: 60px;
    padding: 0;
}

a:link {
    color: #556677FF;
    text-decoration: none;
}

#url_1 {
    color: #556677FF;
    font-family: Malgun Gothic;
    font-size: 8px;
}

#url_2 {
    color: #556677FF;
    font-family: Malgun Gothic;
    font-size: 8px;
}

h6 {
    color: whitesmoke;
    background-color: #80808080;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-top: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    font-family: Malgun Gothic;
    font-size: 10px;
}

#chatbox {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 15px;
    bottom: 120px;
    width: calc(100% - 30px);
    overflow: auto;
}

#reset {
    background-color: #F9F9F9FF;
    position: absolute;
    left: 0;
    bottom: 94px;
    width: 100%;
    text-align: right;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

#resetButton {
    margin: 5px 2px -4px;
}

#userInput {
    background-color: #FFFFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px);
    padding: 5px;
}

#textInput {
    height: 60px;
    width: calc(100% - 5px);
    color: #556677FF;
    font-family: Malgun Gothic;
    font-size: 19px;
    vertical-align: top;
    outline: None;
    margin: 0 5px;
    border: 0;
}

#buttonInput {
    height: 68px;
    width: 70px;
    vertical-align: text-top;
    margin: 5px;
}

.userText {
    font-family: Malgun Gothic;
    font-size: 19px;
    line-height: 120%;
    float: right;
    margin-right: 10px;
    padding-left: calc(100% - 550px);
    position: relative;
    margin-bottom: 10px;
}

.userText span {
    background-color: #FEF01BFF;
    padding: 12px 10px 7px 12px;
    border-radius: 5px;
    display: block;
    max-width: 350px;
    word-wrap:break-word;
    /* white-space: normal !important; */
}

.userText span:after {
    border-top: 12px solid #FEF01BFF;
    border-right: 12px solid transparent;
    border-top-right-radius: 5px;
    content: "";
    position: absolute;
    top: 10px;
    right: -12px;
}

.botText {
    color: #556677FF;
    font-family: Malgun Gothic;
    font-size: 24px;
    text-align: left;
    line-height: 120%;
}

.botText span {
    background-color: #FFFFFFFF;
    padding: 1%;
    border-radius: 5px;
}

#botImg {
    height: 46px;
    width: 122px;
    position: relative;

}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}
