<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        background-color: #9BBBD4FF;
      }
  </style> 
  </head>
  <body>
    <h1>타조 챗봇</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>안녕하세요.</span></p>
        <p class="botText"><span>타조입니다.</span></p>
        <p class="botText"><span>무엇이든 물어보세요!</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="질문을 입력해주세요.">
        <input id="buttonInput" type="submit" value="">
      </div>
      <script src="/static/js/main.js"></script>
    </div>
  </body>
</html>
