<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>타조 챗봇</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        background-color: #9BBBD4FF;
      }
  </style> 
  </head>
  <body>
    <div id="head">
      <a href="https://github.com/bcaitech1/p3-mrc-tajo" target="_blank">
        <img src="static/image/head.png" height="90px" width="165px">
      </a>
    </div>
    <script language="javascript">
      function date() {
        var today = new Date();
        var week = new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일');
        return today.getFullYear()+"년 "+(today.getMonth()+1)+"월 "+today.getDate()+"일 "+week[today.getDay()]
      }
      document.write("<h6>"+date()+"</h6>")
    </script>
    <div id="chatbox">
      <p class="botText"><img src="static/image/tajo_guide.png" height="240px" width="350px"></p>
    </div>
    <div id="reset">
      <img id="resetButton" src="static/image/button_refresh.png" height="32px" width="150px" onclick="window.location.reload()">
    </div>
    <div id="userInput">
      <input id="textInput" type="text" name="msg" placeholder="질문을 입력해주세요." align="top">
      <input id="buttonInput" type="image" src="static/image/button_send.png" alt="Submit Form">
    </div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
