<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>타조 챗봇</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="static/image/icon.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        background-color: #9BBBD4FF;
      }
  </style>
  </head>
  <body style="overflow-x: hidden;">
    <div id="head">
      <table border="0" width="100%">
        <tr>
          <td width="85%">
            <div id="head_1">
              <a href="https://github.com/ODQA-TEAM-TAJO" target="_blank">
                <img src="static/image/group_topleft.png" height="82px" width="170px">
              </a>
            </div>
          </td>
          <td width="15%">
            <div id="head_2">
              <a id="url_1" href="https://github.com/skaurl" target="_blank">Created by 김남혁</a>
              <a id="url_2" href="https://github.com/dataminegames" target="_blank">Designed by 장보윤</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <script language="javascript">
      function date() {
        var today = new Date();
        var week = new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일');
        return today.getFullYear()+"년 "+(today.getMonth()+1)+"월 "+today.getDate()+"일 "+week[today.getDay()]
      }
      document.write("<h6>"+date()+"</h6>")
    </script>
    <div id="chatbox">
      <p class="botText_img"><img src="static/image/group_profile.png" height="310px"></p>
      <script language="javascript">
        var botHtml = '<img id="botImg" src="static/image/group_tajo_1.png"><img/><p class="botText"><span>타조 챗봇은 ODQA를 기반으로 하는 질의응답형 챗봇 입니다.</span></p>';
        $("#chatbox").append(botHtml);
        document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;

        setTimeout(function() {
          var botHtml = '<img id="botImg" src="static/image/group_tajo_1.png"><img/><p class="botText"><span>간단한 일상 대화가 가능하기는 하지만, WIKI에서 찾을 수 있는 내용에 대해서 질문을 해주시기 바랍니다.</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 2000);

        setTimeout(function() {
          var botHtml = '<img id="botImg" src="static/image/group_tajo_1.png"><img/><p class="botText"><span>그리고 질문이 구체적일수록 정확한 답변을 할 수 있습니다. 예를 들어,</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 5000);

        setTimeout(function() {
          var userHtml = '<div class="userText""><span>이순신이 누구야?</span></div>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 8000);

        setTimeout(function() {
          var botHtml = '<img id="botImg" src="static/image/group_tajo_1.png"><img/><p class="botText"><span>이렇게 질문을 해주시면 명확한 정답이 없기 때문에, 답변이 어렵습니다.</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 11000);

        setTimeout(function() {
          var userHtml = '<div class="userText""><span>이순신이 전사한 전투는 어디야?</span></div>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 14000);

        setTimeout(function() {
          var botHtml = '<img id="botImg" src="static/image/group_tajo_1.png"><img/><p class="botText"><span>이렇게 구체적으로 질문을 해주신다면 훨씬 더 정확한 답변을 얻으실 수 있습니다!</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 17000);

        setTimeout(function() {
          var botHtml = '<img id="botImg" src="static/image/group_tajo_1.png"><img/><p class="botText"><span>설명이 길었군요. 이제 타조 챗봇을 한번 사용해볼까요?</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;
          }, 20000);

      </script>
    </div>
    <div id="reset">
      <img id="resetButton" src="static/image/button_refresh.png" height="32px" width="150px" onclick="window.location.reload()">
    </div>
    <div id="userInput">
      <table border="0" width="100%">
        <tr>
          <td width="95%">
            <input id="textInput" type="text" name="msg" placeholder="질문을 입력해주세요." align="top" disabled="true">
            <script language="javascript">
              setTimeout(function() {
                const target = document.getElementById('textInput');
                target.disabled = false;
              }, 20000);
            </script>
          </td>
          <td width="5%">
            <input id="buttonInput" type="image" src="static/image/button_send.png" alt="Submit Form" disabled="true">
            <script language="javascript">
              setTimeout(function() {
                const target = document.getElementById('buttonInput');
                target.disabled = false;
              }, 20000);
            </script>
          </td>
        </tr>
      </table>
    </div>
    <script src="static/js/main.js"></script>
  </body>
</html>
